<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>

	<!-- 测试环境+开发环境. 多个使用逗号隔开. -->
	<springProfile name="test,dev">
		<logger name="org.springframework.web" level="INFO">
			<appender-ref ref="FILE"/>
		</logger>
		<logger name="cn.com.ultrapower" level="INFO" />
	</springProfile>

	<!-- 生产环境. -->
	<springProfile name="prod">
		<logger name="org.springframework.web" level="ERROR">
			<appender-ref ref="FILE"/>
		</logger>
		<logger name="cn.com.ultrapower" level="ERROR" />
	</springProfile>

</configuration> 